@model List<MVC_Northwind2.Models.Shipper>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-md-12">
    @Html.ActionLink("New Shipper", "AddShipper", null, new { @class = "btn btn-success" })
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shipper in Model)
        {
            <tr>
                <td>@shipper.ShipperID</td>
                <td>@shipper.CompanyName</td>
                <td>@shipper.Phone</td>
                <td>
                    @Html.ActionLink("Remove", "RemoveShipper", new { shipperId = shipper.ShipperID }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Update", "UpdateShipper", new { shipperId = shipper.ShipperID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>

