@model List<MVC_Northwind2.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-md-12">
    @Html.ActionLink("New Customer", "AddCustomer", null, new { @class = "btn btn-success" })
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
                <td>@customer.City</td>
                <td>
                    @Html.ActionLink("Remove", "RemoveCustomer", new { customerId = customer.CustomerID }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Update", "UpdateCustomer", new { customerId = customer.CustomerID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>


