@model List<MVC_Northwind2.Models.Supplier>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="col-md-12">
    @Html.ActionLink("New Supplier", "AddSupplier", null, new { @class = "btn btn-success" })
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.SupplierID</td>
                <td>@supplier.CompanyName</td>
                <td>@supplier.City</td>
                <td>
                    @Html.ActionLink("Remove", "RemoveSupplier", new { supplierId = supplier.SupplierID }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Update", "UpdateSupplier", new { supplierId = supplier.SupplierID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>

